Ejercicios/dtd_externa/ejercicio-II-2b-dtd/fichero.dtd

<!-- Hoja.dtd -->
<!ELEMENT fichero (ficha+)>
		<!ELEMENT ficha (nombre, apellido, NIT, carnet, DUI)>
		<!ELEMENT nombre (#PCDATA)>
		<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
    <!ATTLIST nombre edad  CDATA  #IMPLIED>
		<!ELEMENT apellido (#PCDATA)>
		<!ELEMENT NIT (#PCDATA)>
		<!ELEMENT carnet (#PCDATA)>
		<!ELEMENT DUI (#PCDATA)>
